<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper
	namespace='calculaimc.modelo.dao.mappers.ActivacionesMapper'>

	<resultMap type='Usuario' id='UsuarioMap'>
		<id property='id' column='IDUSUARIO' />
		<result property='nombre' column='NOMBRE' />
		<result property='contrasenya' column='CONTRASENYA' />
		<result property='email' column='EMAIL' />
		<result property='imagen' column='IMAGEN' />
		<result property='registro' column='REGISTRO' />
		<result property='estado' column='ESTADO' />
	</resultMap>

	<insert id='addActivacion' parameterType='Activacion'
		useGeneratedKeys='true' keyProperty='id'>
		INSERT INTO ACTIVACION(IDUSUARIO,
		CODIGO) VALUES (#{idUsuario}, #{codigo})
	</insert>

	<delete id='delActivacion' parameterType='Activacion'>
		DELETE FROM ACTIVACION
		WHERE IDUSUARIO = #{id}
	</delete>

	<select id='checkActivacion' resultType='Usuario'
		resultMap="UsuarioMap">
		SELECT USUARIO.* FROM USUARIO, ACTIVACION WHERE
		USUARIO.IDUSUARIO = ACTIVACION.IDUSUARIO AND ACTIVACION.CODIGO =
		#{codigo}
	</select>

</mapper>