<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper
	namespace='com.damasroyale.modelo.dao.mappers.MensajeMapper'>

	<insert id="addMensaje" parameterType="Mensaje">
		INSERT INTO MENSAJES
		(IDPARTIDA, IDUSUARIO, TEXTO)
		VALUES
		(#{idPartida},#{idUsuario},#{texto});
	</insert>

	<select id="getMensajesByIdPartida" resultType="Mensaje">
		SELECT * FROM MENSAJES WHERE IDPARTIDA = #{id}
	</select>

</mapper>