<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper
	namespace='com.damasroyale.modelo.dao.mappers.PartidaMapper'>

	<select id='getPartidaByID' resultType="Partida">
		SELECT * FROM PARTIDAS
		WHERE ID = #{id}
	</select>

	<select id='getResultadoByPartidaID' resultType="Resultado">
		SELECT * FROM RESULTADOS
		WHERE IDPARTIDA = #{id}
	</select>
	
	<select id='getAllPartidaByIdUsuario' resultType="Partida">
		SELECT PARTIDAS.ID, PARTIDAS.IDUSUARIO_A, PARTIDAS.IDUSUARIO_B, PARTIDAS.FINALIZADA
		FROM PARTIDAS
		INNER JOIN USUARIOS ON (PARTIDAS.IDUSUARIO_A  = USUARIOS.ID || PARTIDAS.IDUSUARIO_B  = USUARIOS.ID)
		INNER JOIN RESULTADOS ON PARTIDAS.ID = RESULTADOS.IDPARTIDA
		AND USUARIOS.ID = #{id} ORDER BY ID DESC;
	</select>

	<select id='getAllResultadoByIdUsuario' resultType="Resultado">
		SELECT RESULTADOS.ID, RESULTADOS.IDPARTIDA, RESULTADOS.FECHA_HORA, RESULTADOS.TABLAS, RESULTADOS.GANADOR, RESULTADOS.PERDEDOR
		FROM PARTIDAS
		INNER JOIN USUARIOS ON (PARTIDAS.IDUSUARIO_A  = USUARIOS.ID || PARTIDAS.IDUSUARIO_B  = USUARIOS.ID)
		INNER JOIN RESULTADOS ON PARTIDAS.ID = RESULTADOS.IDPARTIDA
		AND USUARIOS.ID = #{id} ORDER BY ID DESC;
	</select>
	
	<select id="getEstadisticaByIdUsuario" resultType="Stat">
		SELECT DATE(RESULTADOS.FECHA_HORA) AS FECHA, SUM(IF(RESULTADOS.GANADOR = USUARIOS.ID,1, 0)) AS PARTIDAS_GANADAS, SUM(IF(RESULTADOS.PERDEDOR = USUARIOS.ID,1, 0)) as PARTIDAS_PERDIDAS, SUM(IF(RESULTADOS.TABLAS = 1,1, 0)) AS TABLAS
		FROM PARTIDAS
		INNER JOIN USUARIOS ON (PARTIDAS.IDUSUARIO_A  = USUARIOS.ID || PARTIDAS.IDUSUARIO_B  = USUARIOS.ID)
		INNER JOIN RESULTADOS ON PARTIDAS.ID = RESULTADOS.IDPARTIDA
		AND USUARIOS.ID = #{id} GROUP BY DATE(FECHA_HORA) ORDER BY DATE(FECHA_HORA) ASC;
	</select>
	
	<select id='getAllPartidaEnCurso' resultType="Partida">
		SELECT * FROM PARTIDAS
		WHERE FINALIZADA = 0
	</select>
	
	<insert id="addPartidaByIdUsuario">
		INSERT INTO PARTIDAS
		(IDUSUARIO_A, IDUSUARIO_B, FINALIZADA)
		VALUES
		(#{id},null,0);
	</insert>
	
	<select id='getPartidaCreadaByIdUsuario' resultType="Partida">
		SELECT PARTIDAS.ID, PARTIDAS.IDUSUARIO_A, PARTIDAS.IDUSUARIO_B, FINALIZADA FROM PARTIDAS
		INNER JOIN USUARIOS ON PARTIDAS.IDUSUARIO_A = USUARIOS.ID 
		AND USUARIOS.ID= #{id} 
		AND PARTIDAS.FINALIZADA = 0 
		ORDER BY ID DESC;
	</select>
	
	<update id='updatePartida'>
		UPDATE PARTIDAS SET IDUSUARIO_A = #{idUsuario_A}, IDUSUARIO_B = #{idUsuario_B}, FINALIZADA = #{finalizada} WHERE PARTIDAS.ID = #{id};
	</update>

</mapper>