<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.damasroyale.modelo.dao.mappers.UsuarioMapper'>

	<select id='getAllUsuario' resultType="Usuario">
		SELECT * FROM USUARIOS
	</select>

	<select id='getUsuarioByID' resultType="Usuario">
		SELECT * FROM USUARIOS
		WHERE
		IDUSUARIO = #{idUsuario}
	</select>

	<select id='getUsuarioLogin' resultType="Usuario">
		SELECT * FROM USUARIOS
		WHERE
		EMAIL = #{email} AND
		CONTRASENYA = #{contrasenya}
	</select>
	
	<select id='getExistUsuario' resultType='string'>
		SELECT IDUSUARIO FROM
		USUARIO WHERE NOMBRE = #{nombre} OR EMAIL = #{email}
	</select>

	<insert id="addUsuario" parameterType="Usuario">
		INSERT INTO USUARIOS
		(NOMBRE, EMAIL, CONTRASENYA, IMAGEN, REGISTRO ,ESTADO)
		VALUES
		(#{nombre},#{email},#{contrasenya},#{imagen},#{registro},#{estado});
	</insert>

	<update id='updateUsuario' parameterType="Usuario">
		UPDATE USUARIOS SET
		NOMBRE = #{nombre},
		IMAGEN = #{imagen}
		WHERE IDUSUARIO = #{idUsuario}
	</update>
	
	<update id='activateUsuario' parameterType='Usuario'>
		UPDATE USUARIOS SET
		ESTADO = 'S' WHERE IDUSUARIO = #{idUsuario}
	</update>

	<delete id='delUsuario'>
		DELETE FROM USUARIOS WHERE IDUSUARIO = #{idUsuario}
	</delete>

</mapper>