.tablero {
	width: 96vw;
	display: flex;
	flex-wrap: wrap;
}

.casilla {
	min-height: 5vw;
	width: 6vw;
}

.bg-dark.casilla:hover {
	box-shadow: inset 0px 0px 5px 3px darkred;
}

.bg-dark.casilla img:hover {
	cursor: pointer;
}